body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.image-container {
  transform-origin: center center;
  object-fit: contain;
  padding: 0px;
  margin: 0px;
  transition: ease-in 0.5s;
  filter: brightness(100%);
  overflow: hidden;
}

.image-container:hover {
  transform: scale(0.9);
  filter: brightness(130%);
  overflow: hidden;
}
